<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scholl LSL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
<!--Input do Bootstrap CSS-->
<link  href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--Input do Bootstrap CSS-->
<!--Input Folha de Estilo em Cascatas-->
<link rel="stylesheet" type="text/css" href="site.css">
<!--Input Folha de Estilo em Cascatas-->
<div id="cabesalho_name">
        <center></center><p>SchollLSL<p></center>   
     </div>
     <div id="cabesalho_img">
         <center><img src="img/cabesalho.png"></center>        
     </div>
     <div id="eslogam">
         <p>Exemplo e excelência como essência!<p>
     </div> 
</head>
<body>  
<!--Menu-->
<div class="container">
		<ul class="nav nav-tabs nav-pills nav-justified">
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="lista_de_cursos.html">
				 	Lista de Cursos <span class="caret"></span>
				</a>
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="detalhe_curso.html">
                        Detalhe do Curso <span class="caret"></span>
				</a>	
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="disciplina.html">
					Disciplina <span class="caret"></span>
				</a>		
            </li>
            <li role="presentation" class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="noticias.html">
                        Notícias <span class="caret"></span>
                    </a>		
             </li>
                </div>
<!--Menu da home-->
<br>
<br>
<div id="tempalte_db">
</a  href="db.html">
        <center><img src="img/dp.png"  ></center>                     
</div>

    <div id="disciplina">
            <h3>1º Semestre</h3>
            <p>Comunicação e Expressão (EAD): 80 horas</p>
            <p>Fundamentos de Banco de Dados: 80 horas</p>
            <p>Introdução a Internet das Coisas - IOT: 80 horas</p>
            <p>Linguaguem de Programação I: 80 horas</p>
            <p>Lógica de Programação: 80 horas</p>
            <p>Matemática Aplicada: 80 horas</p>
            <p>Subtotal: 480 horas</p>
            <br>

            <h3>2º Semestre</h3>

            <p>Ambiente de Desenvolvimento e Operação -DevOps: 80 horas</p>
            <p>Análise Exploratória de Dados: 80 horas</p>
            <p>Desenvolvimento de Sistemas: 80 horas</p>
            <p>Engenharia de Software: 80 horas</p>
            <p>Gestão de Projetos: 40 horas</p>
            <p>Libras: 40 horas</p>
            <p>Linguagem SQL: 80 horas</p>
            <p>Sociedade e Sustentabilidade: 40 horas</p>
            <p>Subtotal: 520 horas</p>
            <br>

            <h3>3º Semestre</h3>

            <p>Business Intelligence: 80 horas</p>
            <p>Data Analytics: 80 horas</p>
            <p>Developing Database: 80 horas</p>
            <p>Estrutura de Dados: 80 horas</p>
            <p>Legislação e Ética: 40 horas</p>
            <p>OPE1 - Oficina de Projeto Empresa 1: 80 horas</p>
            <p>Subtotal: 440 horas</p>
            <br>

            <h3>4º Semestre</h3>
            
            <p>Administração de Banco de Dados: 80 horas</p>
            <p>Big Data: 80 horas</p>
            <p>Computação Cognitiva: 80 horas</p>
            <p>OPE 2 - Oficina Projeto de Empesa 2 : 80 horas</p>
            <p>Qualidade e Governança de Dados: 80 horas</p>
            <p>Segurança de Banco de Dados: 80 horas</p>
            <p>Subtotal: 480 horas</p>
</div>

    <div id="rodape_dados">
        <center> 
            <footer>
                <p>Diretor: Lucas Lopes</p>
                <p>Informaçoes: <a href="mailto:lslopes@lsl.com">
                Contato Comercial</a>.</p>   
            </footer>
        </center>
    </div>
    <div id="rodape_img">
        <center><img src="img/rodape.png"></center>        
    </div>
    </body>
</html>