<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scholl LSL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
<!--Input do Bootstrap CSS-->
<link  href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--Input do Bootstrap CSS-->
<!--Input Folha de Estilo em Cascatas-->
<link rel="stylesheet" type="text/css" href="site.css">
<!--Input Folha de Estilo em Cascatas-->
<div id="cabesalho_name">
        <center></center><p>SchollLSL<p></center>   
     </div>
     <div id="cabesalho_img">
         <center><img src="img/cabesalho.png"></center>        
     </div>
     <div id="eslogam">
         <p>Exemplo e excelência como essência!<p>
     </div> 
</head>
<body>  
<!--Menu-->
<div class="container">
		<ul class="nav nav-tabs nav-pills nav-justified">
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="lista_de_cursos.html">
				 	Lista de Cursos <span class="caret"></span>
				</a>
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="detalhe_curso.html">
                        Detalhe do Curso <span class="caret"></span>
				</a>	
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="disciplina.html">
					Disciplina <span class="caret"></span>
				</a>		
            </li>
            <li role="presentation" class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="noticias.html">
                        Notícias <span class="caret"></span>
                    </a>		
             </li>
                </div>
<!--Menu da home-->
    <div id="mensagem_cursos">
            <div id="tempalte_ads">
                    <center><img src="img/ads.png" href="detalhe_curso.html"></center>                     
                </div>
        <br>
        <br>
        <p>Entender as necessidades das empresas é fundamental para fazê-las crescer e gerar bons resultados. Desta maneira, um dos caminhos para alavancar os negócios e se destacar no mercado de trabalho é o da Tecnologia. Para isso, a Faculdade SchoolLSL oferece a graduação em Análise e Desenvolvimento de Sistemas, que prepara você para atuar em todas as etapas de projetos de tecnologia da informação - concepção, gerência e manutenção, aplicação e mensuração de resultados.
        O curso é voltado para a criação de programas, softwares e sistemas para as empresas. As etapas do projeto de sistemas de software, como análise, projeto, teste, gestão, implantação e manutenção de sistemas de informação também estão entre os aprendizados da graduação.
        <br>
        <br>
        <a href="inscreva-se.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">inscreva-se</a>
        <br>
        <br>     
        <div  id="tempalte_dp" >
                <center><img src="img/dp.png" ></center>            
        </div>
        <br>
        <br>
        <p>O curso de Banco de Dados prepara o aluno para ser um profissional versátil e com habilidades para atuar com diversas plataformas e estruturas de desenvolvimento e administração de sistemas de Banco de Dados, com acesso a todo o repertório técnico e teórico da área.
        A graduação mostra a importância da segurança de compartilhamento de dados nas empresas modernas e ensina as melhores técnicas e ferramentas de criação e implementação da mesma.         
        Na SchoolLSL, você será preparado para o cenário real de gestão e liderança empresarial, garantindo a capacidade de comunicação e criatividade para solucionar problemas, atingir os melhores resultados, aumentar a produtividade e reduzir custos.      
        <br>
        <br>   
        <div id="tempalte_redes">
                <center><img src="img/redes.png" href="detalhe_curso.html"></center>                     
        </div>
        <br>
        <br>
        <p>Cada vez mais as empresas precisam lidar com diferentes tipos de redes, como Wi-Fi, intranet, dispositivos móveis conectados, entre outros. Com o curso de Redes de Computadores, o aluno estará preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.
        Aprende-se a realizar controles de tráfego e implementar tecnologias de segurança para garantir o bom funcionamento dos sistemas de comunicação de dados, com competência para atuar em empresas de pequeno e grande porte.                         
        O aluno terá uma visão abrangente da área, em que vai aprender os conceitos em laboratório, desenvolver as habilidades de diagnóstico e implementar e administrar a infraestrutura e serviços de redes.
    </div>   
    <div id="rodape_dados">
        <center> 
            <footer>
                <p>Diretor: Lucas Lopes</p>
                <p>Informaçoes: <a href="mailto:lslopes@lsl.com">
                Contato Comercial</a>.</p>   
            </footer>
        </center>
    </div>
    <div id="rodape_img">
        <center><img src="img/rodape.png"></center>        
    </div>
    </body>
</html>