<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scholl LSL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
<!--Input do Bootstrap CSS-->
<link  href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--Input do Bootstrap CSS-->
<!--Input Folha de Estilo em Cascatas-->
<link rel="stylesheet" type="text/css" href="site.css">
<!--Input Folha de Estilo em Cascatas-->
<div id="cabesalho_name">
        <center></center><p>SchollLSL<p></center>   
     </div>
     <div id="cabesalho_img">
         <center><img src="img/cabesalho.png"></center>        
     </div>
     <div id="eslogam">
         <p>Exemplo e excelência como essência!<p>
     </div> 
</head>
<body>  
<!--Menu-->
<div class="container">
		<ul class="nav nav-tabs nav-pills nav-justified">
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="lista_de_cursos.html">
				 	Lista de Cursos <span class="caret"></span>
				</a>
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="detalhe_curso.html">
                        Detalhe do Curso <span class="caret"></span>
				</a>	
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="disciplina.html">
					Disciplina <span class="caret"></span>
				</a>		
            </li>
            <li role="presentation" class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="noticias.html">
                        Notícias <span class="caret"></span>
                    </a>		
             </li>
                </div>
<!--Menu da home-->
<br>
<br>
<div id="tempalte_redes">
        <a  href="redes.html">
        <center><img src="img/redes.png"></center>                     
</div>
<br>
<br>
<br>
<div id="tempalte_db">
        <a  href="db.html">
        <center><img src="img/dp.png"  ></center>                     
</div>
<br>
<br>
<br>
<div id="tempalte_ads">
        <a  href="ads.html"/>
        <center><img src="img/ads.png"/></center>                     
</div>
<br>
<br>
<br>

    <div id="rodape_dados">
        <center> 
            <footer>
                <p>Diretor: Lucas Lopes</p>
                <p>Informaçoes: <a href="mailto:lslopes@lsl.com">
                Contato Comercial</a>.</p>   
            </footer>
        </center>
    </div>
    <div id="rodape_img">
        <center><img src="img/rodape.png"></center>        
    </div>
    </body>
</html>