<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scholl LSL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
<!--Input do Bootstrap CSS-->
<link  href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--Input do Bootstrap CSS-->
<!--Input Folha de Estilo em Cascatas-->
<link rel="stylesheet" type="text/css" href="site.css">
<!--Input Folha de Estilo em Cascatas-->
<div id="cabesalho_name">
        <center></center><p>SchollLSL<p></center>   
     </div>
     <div id="cabesalho_img">
         <center><img src="img/cabesalho.png"></center>        
     </div>
     <div id="eslogam">
         <p>Acompanhem Comunicados Importantes<p>
     </div> 
</head>
<body>  
<!--Menu-->
<div class="container">
		<ul class="nav nav-tabs nav-pills nav-justified">
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="lista_de_cursos.html">
				 	Lista de Cursos <span class="caret"></span>
				</a>
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="detalhe_curso.html">
                        Detalhe do Curso <span class="caret"></span>
				</a>	
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="disciplina.html">
					Disciplina <span class="caret"></span>
				</a>		
            </li>
            <li role="presentation" class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="noticias.html">
                        Notícias <span class="caret"></span>
                    </a>		
             </li>
                </div>
<!--Menu da home-->
<div id="noticias_h2">
<h2>Como driblar os desafios do mercado de trabalho? Descubra!</h2>
</div>

<div id="novas_noticias">

<p>Depois de fazer um curso superior e com o diploma em mãos, chegou a hora da procura por uma oportunidade de emprego. 
<p>Nesse contexto, é bom saber quais são os desafios do mercado de trabalho e se preparar bem para enfrentar algumas possíveis dificuldades que você pode encontrar até garantir aquele emprego desejado.
<p>Atualmente existe uma competitividade enorme, pois há um grande número de profissionais buscando por uma vaga de emprego.
<p>Considerando esse cenário, é preciso estar à altura de um cargo interessante e que esteja dentro dos seus anseios profissionais.
<p>Afinal, quanto mais você se identificar com uma empresa e as tarefas a serem feitas, além de receber um salário justo, melhor.
<p>Para ajudar você nessa tarefa, separamos algumas dicas que podem fazer toda a diferença na hora de lidar com os desafios do mercado de trabalho. 
<p>Quer saber mais? Então, continue a leitura!
</p>
</p>
</p>
</p>
</p>
</p>
</p>
</div>



    <div id="rodape_dados">
        <center> 
            <footer>
                <p>Diretor: Lucas Lopes</p>
                <p>Informaçoes: <a href="mailto:lslopes@lsl.com">
                Contato Comercial</a>.</p>   
            </footer>
        </center>
    </div>
    <div id="rodape_img">
        <center><img src="img/rodape.png"></center>        
    </div>
    </body>
</html>