<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scholl LSL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
<!--Input do Bootstrap CSS-->
<link  href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--Input do Bootstrap CSS-->
<!--Input Folha de Estilo em Cascatas-->
<link rel="stylesheet" type="text/css" href="site.css">
<!--Input Folha de Estilo em Cascatas-->
<div id="cabesalho_name">
        <center></center><p>SchollLSL<p></center>   
     </div>
     <div id="cabesalho_img">
         <center><img src="img/cabesalho.png"></center>        
     </div>
     <div id="eslogam">
         <p>Exemplo e excelência como essência!<p>
     </div> 
</head>
<body>  
<!--Menu-->
<div class="container">
		<ul class="nav nav-tabs nav-pills nav-justified">
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="lista_de_cursos.html">
				 	Lista de Cursos <span class="caret"></span>
				</a>
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="detalhe_curso.html">
                        Detalhe do Curso <span class="caret"></span>
				</a>	
			</li>
			<li role="presentation" class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="disciplina.html">
					Disciplina <span class="caret"></span>
				</a>		
            </li>
            <li role="presentation" class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="noticias.html">
                        Notícias <span class="caret"></span>
                    </a>		
             </li>
                </div>
<!--Menu da home-->
<br>
<br>
<div id="tempalte_redes">
</a  href="redes.html">
        <center><img src="img/redes.png"></center>                     
</div>

    <div id="disciplina">
    <h3>1º Semestre</h3>
    <p>Administração de Redes e Sistemas: 80 horas</p>
    <p>Arquitetura de Redes de Computadores: 80 horas</p>
    <p>Cabeamento Estruturado: 80 horas</p>
    <p>Comunicação e Expressão (EAD): 80 horas</p>
    <p>Fundamentos de Sistemas Operacionais: 40 horas</p>
    <p>Introdução a Internet das Coisas - IOT: 80 horas</p>
    <p>Libras: 40 horas</p>
    <p>Programação em Redes: 80 horas</p>
    <p>Subtotal: 560 horas</p>
    <br>
    <h3>2º Semestre</h3>

    <p>Administração de Redes e Sistemas Operacionais Livres: 40 horas</p>
    <p>Ambiente de Desenvolvimento e Operação -DevOps: 80 horas</p>
    <p>Gestão de Projetos: 40 horas</p>
    <p>Gestão de TI: 80 horas</p>
    <p>OPE1 - Oficina de Projeto Empresa 1: 40 horas</p>
    <p>Redes de Longa Distância: 40 horas</p>
    <p>Routing: 80 horas</p>
    <p>Segurança em Infraestrutura: 80 horas</p>
    <p>Subtotal: 480 horas</p>
    <br>

    <h3>3º Semestre</h3>

    <p>Comunicação de Dados: 40 horas</p>
    <p>Diagnóstico e Gerenciamento de Redes: 80 horas</p>
    <p>Legislação e Ética: 40 horas</p>
    <p>Libras: 40 horas</p>
    <p>OPE 2 - Oficina Projeto de Empesa 2 : 40 horas</p>
    <p>Redes Convergentes: 80 horas</p>
    <p>Segurança em Sistemas: 80 horas</p>
    <p>Sociedade e Sustentabilidade: 40 horas</p>
    <p>Switching: 80 horas</p>
    <p>Subtotal: 520 horas</p>
    <br>

    <h3>4º Semestre</h3>

    <p>Auditoria e Controle em TI: 40 horas</p>
    <p>Computação em Nuvem: 80 horas</p>
    <p>Comunicações Móveis: 80 horas</p>
    <p>OPE 3 - Oficina Projeto de Empesa 3: 120 horas</p>
    <p>Redes IPV6: 80 horas</p>
    <p>Serviços em Redes de Computadores: 80 horas</p>
    <p>Tópicos Especiais em Redes de Computadores: 40 horas</p>
    <p>Subtotal: 520 horas</p>
</div>

    <div id="rodape_dados">
        <center> 
            <footer>
                <p>Diretor: Lucas Lopes</p>
                <p>Informaçoes: <a href="mailto:lslopes@lsl.com">
                Contato Comercial</a>.</p>   
            </footer>
        </center>
    </div>
    <div id="rodape_img">
        <center><img src="img/rodape.png"></center>        
    </div>
    </body>
</html>